@import "colors.css";

window#waybar,
tooltip,
#workspaces,
#workspaces button,
#workspaces button label,
#mpris,
#window #network,
#pulseaudio,
#cpu,
#memory,
#clock,
#custom-power {
  all: initial;
  font-family:
    @font,
    Symbols Nerd Font,
    Noto Sans Bengali;
  font-size: 10px;
}

window#waybar {
  background-color: @surface;
  color: @on_surface;
}

tooltip {
  font-size: 12;
  font-weight: bold;
  background-color: @surface;
  color: @on_surface;
  border: 1px solid @outline;
  border-radius: @radius;
}

#workspaces {
  background-color: @surface_container_highest;
  border-radius: @radius;
  margin: @margin;
}

#workspaces button {
  background: transparent;
  border-radius: @radius;
  padding: @padding;
  margin: @margin;
  transition: all 0.3s ease;
  border: 0;
}

#workspaces button.active,
#workspaces button.focused {
  background-color: @primary_fixed;
}

#workspaces button label {
  color: @primary_fixed;
}

#workspaces button.active label,
#workspaces button.focused label {
  color: @on_primary_fixed;
}

#mpris {
  color: @background;
  margin-top: @spacing;
  margin-bottom: @spacing;
  padding: @padding;
}

#mpris.player {
  font-size: 12px;
  margin-right: 0px;
  margin-left: @spacing;
  border-radius: @radius 0 0 @radius;
}

#mpris.prev {
  font-size: 12px;
  margin-right: 0px;
  border-radius: 0;
}

#mpris.status {
  font-size: 9px;
  margin-right: 0px;
  border-radius: 0;
}

#mpris.next {
  font-size: 12px;
  border-radius: 0 @radius @radius 0;
  margin-right: @spacing;
}

#mpris.spotify {
  background-color: #1ed760;
}

#mpris.firefox {
  background-color: #ee8424;
}

#window {
  font-size: 12;
  font-weight: bold;
  margin: @margin;
}

#network,
#pulseaudio,
#cpu,
#memory,
#clock,
#tray {
  color: @primary_fixed;
  background-color: @surface_container_highest;
  border-radius: @radius;
  margin: @margin;
  padding: @padding;
}

#custom-power {
  font-size: 12px;
  font-weight: 400;
  color: @on_tertiary_container;
  background-color: @tertiary_container;
  border-radius: @radius;
  margin: @margin;
  padding: @padding;
}
