#window,
#box,
#search,
#password,
#input,
#typeahead,
#spinner,
#list,
child,
scrollbar,
slider,
#item,
#text,
#label,
#sub,
#activationlabel {
  all: unset;
  font-family:
    Iosevka,
    Symbols Nerd Font;
  font-size: 14px;
  color: #e2e2e9;
  border-radius: 8px;
}

#box {
  background: #111318;
  border: 2px solid #aec6ff;
  padding: 16px;
  box-shadow: none;
}

scrollbar {
  background: none;
  padding-left: 8px;
}

slider {
  min-width: 2px;
  background: #aec6ff;
  opacity: 0.5;
}

#password,
#input,
#typeahead {
  background: #363a4f;
  background: none;
  box-shadow: none;
  padding-left: 12px;
  padding-right: 12px;
}

#input {
  background: none;
}

#input > *:first-child,
#typeahead > *:first-child {
  margin-right: 7px;
}

#input placeholder {
  opacity: 0.5;
}

child {
  padding: 4px;
}

child:selected,
child:hover {
  background: #1e1f25;
  box-shadow: none;
}

#label {
  font-weight: bold;
}

#sub {
  opacity: 0.5;
}

#activationlabel {
  opacity: 0.5;
  padding-right: 4px;
}

.activation #activationlabel {
  font-weight: bold;
  opacity: 1;
}
