* {
  all: initial;
  font-family: Iosevka, Symbols Nerd Font;
  font-size: 16px;
  color: #{{on_surface}};
  border-radius: 8px;
  margin: 2px;
  padding: 2px;
  border: 0px;
}

#window {
  margin: 0;
  background: #{{surface}};
  border: 2px solid #{{primary}};
}

#input {
  margin: 10px;
  padding: 10px;
  background: #{{surface_container}};
}

#entry:selected {
  background-color: #{{surface_container}};
  color: #{{primary}};
}
