* {
  all: initial;
  font-family: Iosevka, Symbols Nerd Font;
  font-size: 16px;
  color: #e5e3d6;
  border-radius: 8px;
  margin: 2px;
  padding: 2px;
  border: 0px;
}

#window {
  margin: 0;
  background: #13140c;
  border: 2px solid #c5cd7a;
}

#input {
  margin: 10px;
  padding: 10px;
  background: #202018;
}

#entry:selected {
  background-color: #202018;
  color: #c5cd7a;
}
